@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header{
    background: #161D30;
}
.header p,  .header a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.header p {
    margin-top: 1rem;
}
.header .fa-solid{
    color: #ffaa04;
    justify-content: flex-end;
}
.contact {
    margin: 1rem 0;
    justify-content: end;
    
}
#erreur svg {
    max-width: 100%;
    background-color: #161D30;
    justify-content: center;

}
.back {
    background: #ffaa04;
  border-radius: 25px;
  padding: 19px 47px;
  color: #fff;
  font-size: 16px;
  font-family: roboto;


}

.container-fluid-footer{
    color: #fff;
    padding: 250px;
    
    
    
}
.col-12{
    color: #fff;
    
}
.footer{
    background-image: linear-gradient(rgba(22,29,48,0.9),rgba(22,29,48,0.9)),url(../map.png);
    
    color: #fff;
    font-size: 16px;
    padding-top: 10vh;
}


    

.bg-color-err {
   background-color: #161D30;
}


#erreur {
    text-align: center;
}

.ccpppppp .fa-solid {
    color: #fff;
    font-size: 35px;
    margin-right: 1em;
}

