@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.header{
    background: #161D30;
}
.header p,  .header a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.header p {
    margin-top: 1rem;
}
.header .fa-solid{
    color: #ffaa04;
}
.contact {
    margin: 1rem 0;
}
#erreur svg {
    max-width: 100%;

}
.back {
    background: #ffaa04;
  border-radius: 25px;
  padding: 19px 47px;
  color: #fff;
  font-size: 16px;
  font-family: roboto;
}

.back:hover {
    background: #2d1b51;
    color: aqua;
}